body {
  background-color: #161616;
  color: white;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
